
.about{
  height: 50%;
  background-image: url("https://react-tour-pagla.web.app/static/media/why-us-cover.a7f385e2.png");

}
.about-details{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
}
.about-details h1{
  font-size:3.5em;
}
.about-details p{
  font-size: 1.2em;
}
.about-img img{
width: 100%;
margin: 100px 0px;
}

